 <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <title>Currículos</title>
</head>
<body>
    <header class="bg-success">
        <div class="container">
            <h1 class="container text-light pt-4 pb-2">Gerenciamento Escolar</h1>
            {% if current_user.is_authenticated %}
            <div>
                Olá, {{ current_user.get_nome() }}
                <a href="/login" class="text-light">Sair</a>
            </div>
            {% endif %}
        </div>
    </header>
    <main class="container">
        {% block conteudo %}
        {% endblock %}
    </main>

    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>