{% extends "base.html" %}

{% block conteudo%}
    <h2 class="bg warning">Listagem de professores</h2>
    {% if msg == 'deletar' %}
    <div class="alert alert-success">Professor deletado com sucesso!</div>
    {% endif%}

    {% if msg == 'alterar' %}
    <div class="alert alert-success">Professor alterado com sucesso!</div>
    {% endif%}

    {% if lista|count > 0 %}
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th></th>
        </tr>
        {% for l in lista %}
        <tr>
            <td>{{ l.id }}</td>
            <td>{{ l.nome }}</td>
            <td>{{ l.email }}</td>
            <td><a href="/professores/alterar/{{ l.id }}" class="btn btn-warning">Alterar</a></td>
            <td>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalProfessor">
                    Deletar
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    
    <div class="modal fade" id="modalProfessor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Exclusão de professor</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Deseja realmente excluir esse professor?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              <button type="button" class="btn btn-danger">Confirmar exclusão</button>
            </div>
          </div>
        </div>
      </div>
{% endblock%}